#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a  {
    text-align: center;
    color: #73B158;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #275E0D;
}

body {
    background-color: #275E0D;
    font-family:'Roboto', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #275E0D;
}
 nav a:hover {
     background-color: #275E0D;
     color: #73B158;
 }

 .book, .join {
     background-color: #73B158;
     color: white;
     text-decoration: none;
     font-size: 18px;
     padding: 4px 10px;
     margin-top: 10px;
     border-radius: 5px;
 }

 .book:hover, .join:hover {
     background-color: #275E0D;
     color: white;
 }

 .msg {
     background-color: #275E0D;
     line-height: 1.5em;
     
 }

 footer {
     background-color: #73B158;
     padding: 25px 50px;
 }

 footer .social img {
     padding-top: 15px;
 }

 footer h3 {
    color: white;
    text-decoration: none;
 }

 footer a {
     color: white;
     text-decoration: none;
 }

 footer a:hover {
     color: white;
     text-decoration: none;
 }

 .home-title {
     color: white;
     font-size: 2em;
 }

 h4 {
     color: white;
 }

 .msg h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
 }
 .msg p {
     color: white;
    
 }

 .logo {
     width: 80px;
 }

 .icon {
     width: 80px;
 }

 #hero-img {
     width: 100%;
 }

 h2 {
     margin: 0;
 }

 .card-img {
    border: 10px solid white ;
 }


